
* {margin: 0; padding: 0;} 

.show {display:block;}
.hide {display:none;}


#photocontainer {
 width: 100%;
 overflow: hidden;
 margin: 0px auto;
 /* background: white; */
}

header {
	width: 800px;
	margin: 40px auto;
}

header h1 {
	text-align: center;
	font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
}

header p {
	font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
	text-align: justify;
}

/*keyframe animations*/
.first {
-webkit-animation: bannermove 30s linear infinite;
   -moz-animation: bannermove 30s linear infinite;
	-ms-animation: bannermove 30s linear infinite;
	 -o-animation: bannermove 30s linear infinite;
		animation: bannermove 30s linear infinite;
}


@keyframes bannermove {
	0% {
	   margin-left: 0px;
	}
	100% {
	   margin-left: -4000px; /*2125*/
	}
}

@-moz-keyframes bannermove {
	0% {
	  margin-left: 0px;
	}
	100% {
	  margin-left: -4000px;
	}
}

@-webkit-keyframes bannermove {
	0% {
	  margin-left: 0px;
	}
	100% {
	  margin-left: -4000px;
	}
}

@-ms-keyframes bannermove {
	0% {
	  margin-left: 0px;
	}
	100% {
	  margin-left: -4000px;
	}
}

@-o-keyframes bannermove {
	0% {
	  margin-left: 0px;
	}
	100% {
	  margin-left: -4000px;
	}
}


.photobanner {
	height: 233px;
	width: 8000px; /*3550 */
	margin-bottom: 0px;
}

.photobanner img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
    width:400px;  /*350*/
    height:233px;	
} 

.photobanner > div {
	width:350px;  
    height:233px;	
}

/* .photobanner div img {
	display: block;
	width: 100%;
	height: auto;
  } */

.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2); 	
} 

.photobanner > div:hover {
	opacity: 0;
}

/* .imgcontainer {
	position: relative;	
  } */
  

.overlay {
	/* position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;  */
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
  }
  
.overlay:hover {
	opacity: 1;
  }
  
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#mapid {
  width: 60%;
  height: 50%;
  padding: 0;
  margin: 0px auto;
}